<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
	</head>
	<body style="margin: 0;
	padding: 0;">
		<div style="max-width:670px;
	margin:68px auto 0;">
			<div style="display:flex;
	margin-bottom:18px;margin-top:-30px">
				<p
					style="font-family:GoodHeadlineCompPro-Light, sans-serif;
					font-size:20px;
					display:flex;
					margin-top: 15px;
					margin-bottom:10px;
					color:#5B6770;">
					<%const today = new Date();%>
					<%const date = `${today.getDate()}/${(today.getMonth()+1)}/${today.getFullYear()}`;%>
					<%=date%>
				</p>
				<img style="height: 25px; margin: 10px 0 0 auto;" src="http://localhost:<%=process.env.PORT%>/images/templateSrc/videx.png">
			</div>
			<div style="	position:relative;
							margin-top:-20px;
							width:670px;
							height:670px;
							display:block;">
				<div>
					<img style="	position:absolute;
									width:670px;
									height:670px;" src="<%=background%>"/>
				</div>
				<div>
					<img style="
								position:absolute;
								margin-top:50px;
								margin-left:206px;" src="<%=frame.fileURL%>"/>
					<div>
						<img style="	position:absolute;
										width:157px;
										height:160px;
										margin-top:98px;
										margin-left:258px;" src="<%=firstItem.fileURL%>"/>
						<img style="	position:absolute;
										width:157px;
										height:160px;
										margin-top:305px;
										margin-left:258px;" src="<%=secondItem.fileURL%>"/>
					</div>
				</div>
				<img style="	position:absolute;
								margin-top:580px;
								margin-left:220px;" src="http://localhost:<%=process.env.PORT%>/images/templateSrc/binera.png"/>
			</div>
			<div style="	display:flex;
							width:670px;
							height:192px;
							border: #E1E1E1 solid 1px;
							border-radius: 15px;
							margin-top:25px;">
				<div style="	display:flex;
								flex-direction:column;
								flex-basis:30%;
								padding-left:45px;
								padding-top:10px;">
					<div>
						<p style="	font-family:Ubuntu-Regular, sans-serif;
									font-size:13px;
									color:#5B6770;
									margin:6px;">Рамка:</p>
						<p style="	font-family:Ubuntu-Regular, sans-serif;
									font-size:13px;
									color:#FF7A00;
									margin:5px;
									padding-top:5px;"><%=frame.article%></p>
					</div>
					<div>
						<p style="	font-family:Ubuntu-Regular, sans-serif;
									font-size:13px;
									color:#5B6770;
									margin:6px;">Код:</p>
						<p style="	font-family:Ubuntu-Regular, sans-serif;
									font-size:13px;
									color:#FF7A00;
									margin:5px;
									padding-top:5px;"><%=frame.productCode%></p>
					</div>
					<div>
						<p style="	font-family:Ubuntu-Regular, sans-serif;
									font-size:13px;
									color:#5B6770;
									margin:6px;">Цена:</p>
						<p style="	font-family:Ubuntu-Regular, sans-serif;
									font-size:13px;
									color:#FF7A00;
									margin:5px;
									padding-top:5px;"><%=frame.price%><span>грн</span></p>
					</div>
				</div>
				<div style="	width:1px;
								height:152px;
								background-color:#D0D0D0;
								margin-top: 24px;"></div>
				<div style="	flex-basis:25%;
								padding:10px;
								margin: 0 auto;
								text-align:center;">
					<p style="	font-family:Ubuntu-Regular, sans-serif;
								font-size:13px;
								color:#5B6770;
								margin:6px;">Механізм:</p>
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#FF7A00;
	margin:5px;
	padding-top:5px;">1 - <span><%=firstItem.article%></span></p>
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#FF7A00;
	margin:5px;
	padding-top:5px;">2 - <span><%=secondItem.article%></span></p>
				</div>
				<div style="	flex-basis:25%;
	padding:10px;
	text-align:center;">
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#5B6770;
	margin:6px;">Код:</p>
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#FF7A00;
	margin:5px;
	padding-top:5px;"><%=firstItem.productCode%></p>
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#FF7A00;
	margin:5px;
	padding-top:5px;"><%=secondItem.productCode%></p>
				</div>
				<div style="	flex-basis:20%;
	padding:10px;
	text-align:center;">
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#5B6770;
	margin:6px;">Ціна</p>
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#FF7A00;
	margin:5px;
	padding-top:5px;"><span><%=firstItem.productCode%></span>грн</p>
					<p style="	font-family:Ubuntu-Regular, sans-serif;
	font-size:13px;
	color:#FF7A00;
	margin:5px;
	padding-top:5px;"><span><%=secondItem.price%></span>грн</p>
				</div>
			</div>
			<div style="display:flex; margin-top:33px; justify-content:center">
				<p style="text-align:center; margin-top:10px; margin-right:25px; 	font-family:Ubuntu-Regular, sans-serif;
							font-size:18px;
							color:#5B6770;
							display:flex;">Загальна вартість:<p style="font-family:Ubuntu-Regular, sans-serif;
							font-size:36px;
							color:#5B6770;
							margin-top:0"><%= +frame.price + (+firstItem.price) + (+secondItem.price) %><span>грн</span></p></p>
			</div>
			<div>
				<img src="http://localhost:<%=process.env.PORT%>/images/templateSrc/videxua.png"
					 style="text-align:center;
					 display:flex;
					 justify-content:center;
					 padding-top:-30px;
					 padding-bottom:10px;
					 margin: 0 auto"/>
			</div>
		</div>
 </body>
 </html>
